<template>
  <div id="app">
    <div class="notifications" @click="clearAlert">
      <div
        v-if="alert.message"
        class="alert"
        :class="`alert-${alert.type}`"
        @close="clearAlert"
      >
        {{alert.message}}
      </div>
    </div>
    <router-view/>
  </div>
</template>


<script>

import { mapState, mapActions } from 'vuex';


export default {
  name: 'app',
  computed: {
    ...mapState({
      alert: state => state.alert,
      user: state => state.user,
    })
  },
  methods: {
    ...mapActions({
      clearAlert: 'alert/clear',
    },{
      root:true
    })
  },
  mounted() {
    this.clearAlert();
    if (this.$store.state.user === false){
      this.$router.push('login');
    }
  },
  watch: {
      $route (){
        // clear alert on location change
        this.clearAlert();
      },
    } 
};
</script>

<style>
  @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
  .notifications {
      transition: 0.5s;
      position: absolute;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
  }
</style>