<template>

	<div>
		<h2>{{ pageTitle }}</h2>

		<!-- Write here the two input, connected with v-model -->
		<template>
			<input v-model="numa" placeholder="edit me">
		</template>
		<template>
			<input v-model="numb" placeholder="edit me">
    </template>
		<!-- than, write here the button with the attribute "@click'tellMeTheMaxNumber'" -->

		<div>
     	<button @click="tellMeTheMaxNumber">Result</button>
	  </div>

  	The highest number is: {{ value }}

	</div>

</template>

<script>
	export default {
		components: {
		},
		computed: {
			// ...mapState('presentations',[
			// 	'contentCreatorsPresentations',
			// 	'presentations',
			// 	'loading',
			// ])
		},
		methods: {
			tellMeTheMaxNumber() {
				const { numa,numb } = this;

				if(numa>numb){
					this.value = numa;
				}else{
					this.value = numb;
				}
			}
		},

		mounted() {
		},
		data() {
			return {
				pageTitle: 'Dashboard',
				numa: 0,
				numb: 0,
			  value: 0,
			};
		}
	};
</script>

<style lang="scss">
	@import "../../sass/_variables.scss";

</style>
