<template>

	<div>
		<h2>{{ pageTitle }}</h2>
		
		<!-- Write here the two input, connected with v-model -->
		
		<!-- than, write here the button with the attribute "@click'tellMeTheMaxNumber'" -->
		
		<p>The highest number is: </p>
	</div>

</template>

<script>
	export default {
		components: {
		},
		computed: {
			// ...mapState('presentations',[
			// 	'contentCreatorsPresentations',
			// 	'presentations',
			// 	'loading',
			// ])
		},
		methods: {
			tellMeTheMaxNumber() {
				const { numa,numb } = this;
			}
		},
		mounted() {
		},
		data() {
			return {
				pageTitle: 'Dashboard',
				numa: 0,
				numb: 0,
				max_number: 0,
			};
		}
	};
</script>

<style lang="scss">
	@import "../../sass/_variables.scss";

</style>
