<template>

	<div>
		<h2>{{ pageTitle }}</h2>
		
		<!-- Write here the two input, connected with v-model -->
		<a-input v-model="numa" placeholder="Basic usage" />
		<a-input v-model="numb" placeholder="Basic usage" />
		<a-input v-model="numc" placeholder="Basic usage" />
		<!-- than, write here the button with the attribute "@click'tellMeTheMaxNumber'" -->
		<div>
    		<a-button @click='tellMeTheMaxNumber' type="primary" block>Generate</a-button>
		</div>
		

		The highest number is: {{ value }}
	</div>



</template>

<script>
	export default {
		components: {
		},
		computed: {
			// ...mapState('presentations',[
			// 	'contentCreatorsPresentations',
			// 	'presentations',
			// 	'loading',
			// ])
		},
		methods: {
			tellMeTheMaxNumber() {
				const { numa,numb,numc } = this;
				
				if(numa>numb && numa>numc){
					this.value=numa;
				}else{
					if(numb>numc){
						this.value=numb;
					}else{
						this.value=numc;
					}
				}

			
        	}
			
		},
		mounted() {
		},
		data() {
			return {
				pageTitle: 'Dashboard',
				numa: 0,
				numb: 0,
				numc: 0,
				value: 0,
			};
		}
	};
</script>

<style lang="scss">
	@import "../../sass/_variables.scss";

</style>


