<template>

	<div>
		<div class="item">
			<h2>{{ pageTitle }}</h2>

			<input type="text" v-model="numberToAdd">
			<button @click="addANumber">Add the number</button>

			<!-- Pssstt Pietro. Secret hint for you! -->
			<!-- You'll need to display the numbers using the v-for property of vue. Remembert to search on google if you have any trobule -->
			<!-- As an hint. try to uncomment the code above and see how it works. It has all the funcions needed, but it doesn't dislay all the numbers of the list! Maybe v-for and some edit can help. -->

			<ul>
				<ul id="v-for-object" class="demo">
	  <li v-for="number in numbers">
	    {{ number }}
	  </li>
	</ul>
			</ul>

			<h3>SUM: {{sum}}</h3>
		</div>
	</div>

</template>

<script>
	export default {
		data() {
			return {
				pageTitle: 'Number calculation',
				numbers: [],
				numberToAdd: 0,
				exampleNumber: 12,
			};
		},
		methods: {
			addANumber() {
				this.numbers.push(this.numberToAdd);
				this.numberToAdd = null;
			}
		},
		computed: {
			sum() {
				let sum = 0;
				for (const num of this.numbers) {
					sum = sum + parseInt(num);
				}
				return sum;
			}
		}
	};
</script>

<style lang="scss">
	@import "../../sass/_variables.scss";

</style>
