<template>
  <div class="auth-container">
    <div class="brand-bar">
      <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->


    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In  -->
<svg version="1.1"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
   x="0px" y="0px" width="201.6px" height="36.3px" viewBox="0 0 201.6 36.3" style="enable-background:new 0 0 201.6 36.3;"
   xml:space="preserve">
<defs>
</defs>
<g>
  <g>
    <path d="M12.6,23.8v7.4l3.9,5.2H0.4l3.5-5.2V5L0,0h17.6c9.5,0,14.9,4.1,14.9,11.4c0,7.7-5.6,12.3-14.9,12.3H12.6z M12.6,2.6v18.6
      h3.2c5,0,7.9-3.6,7.9-9.4c0-5.8-2.9-9.1-7.7-9.1H12.6z"/>
    <path d="M55.6,5v26.1l3.9,5.2h-16l3.5-5.2L47,5l-3.9-5h16.2L55.6,5z"/>
    <path d="M73.9,36.3l3.5-5.2V6.5L72.5,0h10.9l20,27.5V4.9L100,0h9.6L106,4.9v31.4h-6.7L79.9,9.8v21.3l3.6,5.2H73.9z"/>
    <path d="M156.7,11.9l-7.8-9.3h-4.8v28.5l3.9,5.2h-16l3.5-5.2V2.6h-4.8l-7.9,9.3V0h34L156.7,11.9z"/>
    <path d="M187.1,36.3l2.3-5.2l-2.5-7.9H175l-2.2,5.9l4,7.2h-11.9l4-5.7l1.8-3.2L179.4,4l-2.3-4h11l10.1,30.8l3.3,5.5H187.1z
       M181.3,6.6h-0.1l-5.2,14H186L181.3,6.6z"/>
  </g>
</g>
</svg>


    </div>
    <router-view></router-view>
    <span class="copyright">©Copyright Pinta 2019 </span>
  </div>
</template>
<style lang="scss">
  @import "../../sass/main.scss"
</style>
<script>

// import '@/sass/main.scss'

export default {
  data() {
    return {
      pageTransitionDuration: 200,
      pageClass: 'login-page'
    };
  },
  computed: {
    title() {
      return `${this.$route.name} page`;
    }
  },
  methods: {
    setPageClass() {
      this.pageClass = `${this.$route.name}-page`.toLowerCase();
    }
  },
  mounted() {
    this.setPageClass();
  },
  watch: {
    $route() {
      this.setPageClass();
    }
  }
};
</script>
<style lang="scss">
  .brand-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #ddd;
    z-index: 3;
    svg {
      width: 80px;
      height: 25px;
    }
  }
  .auth-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://source.unsplash.com/random/1920x1080') center center no-repeat;
    background-size:cover;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #0008;
      z-index: 0;

    }
    // background: #f7f8fc;

  }
  .copyright {
    position: absolute;
    bottom: 2rem;
    // font-family: 'Atlas-regular';
    color: #fffc;
    font-size: 0.75rem;
    opacity: 0.5;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
