<template>

  <form @submit.prevent="submitLogin" class="pt-5 col-12 col-md-6 col-lg-4 ml-auto mr-auto">
    <card class=" text-white bg-primary">
      <h2 class="text-white">
        {{$t('auth.changePassword')}}
      </h2>
      <div class="mt-3">
        <base-input
          :label="$t('auth.password')"
          v-validate="'required|min:5'"
          name="password"
          type="password"
          ref="password"
          :error="getError('password')"
          v-model="model.password"
          :placeholder="$t('auth.password')"
        >
          <!-- addon-left-icon="" -->
        </base-input>

        <base-input
          :label="$t('auth.passwordConfirm')"
          v-validate="'required|confirmed:password'"
          name="passwordConfirm"
          type="password"
          :error="getError('passwordConfirm')"
          v-model="model.passwordConfirm"
          :placeholder="$t('auth.passwordConfirm')"
        >
          <!-- addon-left-icon="" -->
        </base-input>
        <base-button native-type="submit" type="light" class="mb-3" size="lg" block>
          {{$t('auth.changePassword')}}
        </base-button>
      </div>
    </card>
  </form>
</template>
<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      model: {
        password: '',
        confirmPassword: '',
      },
    };
  },
  computed: {
    ...mapState('account', ['changingPassword'])
  },
  created () {
    // reset login status
    this.logout();
  },
  methods: {
    ...mapActions('account', ['changePassword', 'logout']),
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    async submitLogin() {
      let isValidForm = await this.$validator.validateAll();
      if (isValidForm) {
        this.changePassword({
          password: this.model.password,
          passwordResetToken: this.$route.params.token
        });
        // TIP use this.model to send it to api and perform login call

      }
    }
  }
};
</script>

<style lang="scss">
</style>
