<template>
  <form @submit.prevent="submitLogin" class="col-12 login-card">
    <card class="">
      <div class="login-content">

        <div class="brand">

			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32.6px" height="36.5px" viewBox="0 0 32.6 36.5" style="enable-background:new 0 0 32.6 36.5;" xml:space="preserve">
				<path d="M12.8,23.8l0.1,7.4l4,5.1L0.8,36.5l3.5-5.2L4,5.1L0,0.2L17.6,0c9.5-0.1,14.9,3.9,15,11.3c0.1,7.7-5.5,12.4-14.8,12.5
				L12.8,23.8z M12.6,2.6l0.2,18.6l3.2,0c5-0.1,7.8-3.7,7.8-9.5c-0.1-5.8-2.9-9.1-7.8-9L12.6,2.6z"/>
			</svg>

        </div>
        <h5 class="text-center  text-dark">
          {{$t('auth.LoginWith')}}
        </h5>

       

        <label>{{$t('auth.email')}}</label>
        <base-input
          v-validate="'required|email'"
          name="email"
          :error="getError('email')"
          v-model="model.email"
          :placeholder="$t('auth.email')"
          autocomplete="off"
        >
          <!-- addon-left-icon="envelope" -->
        </base-input>
        
        <label>{{$t('auth.password')}}</label>
        <base-input
       		autocomplete="off"
          type="password"
          v-model="model.passwd"
          name="password"
          v-validate="'required|min:5'"
          :error="getError('password')"
          :placeholder="$t('auth.password')"
        >
          <!-- addon-left-icon="lock" -->

          <!-- addon-left-icon="" -->
        </base-input> 
        <div class="text-center">
          <base-button native-type="submit" type="light" class="mt-2 mb-4 bg-dark text-white" block>
            {{$t('auth.login')}}
          </base-button>
        </div>
      </div>


      <div slot="footer">
        <div class="d-flex justify-content-center">
           
            
              <router-link class="link footer-link text-primary small" to="/register">
                {{$t('auth.createAccount')}}
              </router-link>
                           
              <p class="small mx-2">or</p>
         
        
              <router-link class="link footer-link text-primary small" to="/reset-password">
                {{$t('auth.forgotPasswd')}}
              </router-link>
          
         
        </div>
      </div>
    </card>
  </form>
</template>
<style lang="scss">
	

	input:-internal-autofill-selected {
		background: #f7f8fc!important;

	}
	input[type="text"], 
	textarea, 
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		background: #f5f5f5!important;
		-webkit-text-fill-color: #222d !important;
	}

	input:-internal-autofill-selected {
		background: #f5f5f5!important;
		-webkit-text-fill-color: #222d !important;
	}


	.login-card {
		max-width: 450px;


		h5 {
			font-weight: 400;
		}
		input {
			background: #f7f8fc!important;
		}
		button{
			text-transform: capitalize;
			// max-width: 75%;
		}
		label {
			font-family: 'Atlas-regular';
			opacity: 0.5;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 70%;
			margin-bottom: 0.25rem;
			color: #485580;
		}
		label.error {
			color: red;
		}
		.card {

			box-shadow: 0 0 15px #2222;
			border:0;
			border-radius: 6px;
			overflow-y: hidden;
		}
	}
	.log-with {
		opacity: 0.5;
	}
	.login-content {
		max-width: 70%;
		margin: auto;
	}
	.brand{
		margin: auto;
		width: 130px;
		height: 130px;
		border-radius: 600px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
		margin-top: 1rem;
		border:1px solid #eee;
		background: #f7f7f7;

		svg {
			width: 40px;
			height: 40px;
			transform: translateX(2px);
			fill:#222;
		}
	}

	.login-card .card .card-footer {
		// background: rgba(30, 66, 186, 0.15);
		background: #f3f3f3;
		padding: 1.5rem;
		border-radius: 0 0 0 0;
		border-top: 1px solid #e6e6e6;

	}

	.card-footer {
		p, a {
			margin: 0;
			line-height: 1.5;
		}
	}




</style>
<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      model: {
        email: '',
        passwd: '',
        // subscribe: true
      }
    };
  },
  computed: {
    ...mapState('account', ['status'])
  },
  created () {
    // reset login status
    this.logout();
  },
  methods: {
    ...mapActions('account', ['login', 'logout']),
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    async submitLogin() {
      let isValidForm = await this.$validator.validateAll();
      if (isValidForm) {
        this.login(this.model);
        // TIP use this.model to send it to api and perform login call

      }
    }
  }
};
</script>

<style lang="scss">
</style>
