<template>
  <form @submit.prevent="submitRegister" class="pt-5 col-12 col-md-6 col-lg-4 ml-auto mr-auto">
    <card class=" text-white bg-primary">
      <h2 class="text-white">
        {{$t('auth.register')}}
      </h2>
      <div class="row mt-3">
        <div class="col-12 col-md-6">
          <base-input
            :label="$t('auth.name')"
            v-validate="'required|min:3'"
            name="name"
            :error="getError('name')"
            v-model="model.name"
            :placeholder="$t('auth.name')"
          >
            <!-- addon-left-icon="" -->
          </base-input>
        </div>
        <div class="col-12 col-md-6">
          <base-input
            :label="$t('auth.surname')"
            v-validate="'required|min:3'"
            name="surname"
            :error="getError('surname')"
            v-model="model.surname"
            ref="surname"
            :placeholder="$t('auth.surname')"
          >
            <!-- addon-left-icon="" -->
          </base-input>
        </div>
        <div class="col-12">
          <base-input
            :label="$t('auth.email')"
            v-validate="'required|email'"
            name="email"
            :error="getError('email')"
            v-model="model.email"
            :placeholder="$t('auth.email')"
          >
            <!-- addon-left-icon="" -->
          </base-input>

          <base-input
            :label="$t('auth.password')"
            v-validate="'required|min:5'"
            name="password"
            type="password"
            ref="password"
            :error="getError('password')"
            v-model="model.passwd"
            :placeholder="$t('auth.password')"
          >
            <!-- addon-left-icon="" -->
          </base-input>

          <base-input
            :label="$t('auth.passwordConfirm')"
            v-validate="'required|confirmed:password'"
            name="passwordConfirm"
            type="password"
            :error="getError('passwordConfirm')"
            v-model="model.passwordConfirm"
            :placeholder="$t('auth.passwordConfirm')"
          >
            <!-- addon-left-icon="" -->
          </base-input>
        </div>
      </div>



      <base-button native-type="submit" type="light" class="mb-3" size="lg" block>
        {{$t('auth.register')}}
      </base-button>
      <div slot="footer" class="text-center">
        <h6>
          <router-link class="link footer-link text-white" to="/login">
            {{$t('auth.backToLogin')}}
          </router-link>
        </h6>
      </div>
    </card>
  </form>
</template>
<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      model: {
        email: '',
        name: '',
        surname: '',
        passwd: ''
      }
    };
  },
  computed: {
    ...mapState('account', ['status'])
  },
  methods: {
    ...mapActions('account', ['register']),
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    async submitRegister() {
      let isValidForm = await this.$validator.validateAll();
      if (isValidForm) {
        // TIP use this.model to send it to api and perform register call
        this.register(this.model);        
      }
    }
  }
};
</script>

<style lang="scss">
</style>
