<template>
  <form @submit.prevent="submitLogin" class="pt-5 col-12 col-md-6 col-lg-4 ml-auto mr-auto">
    <card class=" text-white bg-primary">
      <h2 class="text-white">
        {{$t('auth.resetPassword')}}
      </h2>
      <p>
        {{$t('auth.resetPasswordDescription')}}
      </p>
      <div class="mt-3" v-if="!resetted">
        <base-input
          v-validate="'required|email'"
          name="email"
          :error="getError('email')"
          v-model="model.email"
          :placeholder="$t('auth.email')"
          addon-left-icon="envelope"
        >
        </base-input>
        <base-button native-type="submit" type="light" class="mb-3" size="lg" block>
          {{$t('auth.login')}}
        </base-button>
      </div>
      <div v-else>
        <h3 class="text-white">{{$t('auth.passwordResettedInstructions')}}</h3>
      </div>
      <div slot="footer">
        <div class="row">
          <div class="col-6"> 
            <h6>
              <router-link class="link footer-link text-white" to="/login">
                {{$t('auth.backToLogin')}}
              </router-link>
            </h6>                
          </div>
          <div class="col-6 text-right">
            <h6>
              <router-link class="link footer-link text-white" to="/register">
                {{$t('auth.register')}}
              </router-link>
            </h6>
          </div>
        </div>
      </div>
    </card>
  </form>
</template>
<script>

import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      model: {
        email: '',
      },
      resetted: false
    };
  },
  computed: {
    ...mapState('account', ['resettingPassword'])
  },
  created () {
    // reset login status
    this.logout();
  },
  methods: {
    ...mapActions('account', ['resetPassword', 'logout']),
    getError(fieldName) {
      return this.errors.first(fieldName);
    },
    async submitLogin() {
      let isValidForm = await this.$validator.validateAll();
      if (isValidForm) {
        const res = await this.resetPassword(this.model.email);
        this.resetted = true;
        // TIP use this.model to send it to api and perform login call

      }
    }
  }
};
</script>

<style lang="scss">
</style>
