$default:					#3c3d47 !default;
// $default:					#343859 !default;
$primary:					#ff795b !default;
$secondary:					#f66767 !default;
$success:					#00f2c3 !default;
$info:						#e3e3e3 !default;
$infoDark:					#9299ab!default;
$warning:					#ff8d72 !default;
$danger:					#ffa798 !default;
//$danger:					#fd5d93 !default;
$black:						#1F1F32 !default;
$vue:						#42b883 !default;

			
			
$white:						#fff !default;
$gray-100:					#f8f9fa !default;
$gray-200:					#e9ecef !default;
$gray-300:					#dee2e6 !default;
$gray-400:					#ced4da !default;
$gray-500:					#adb5bd !default;
$gray-600:					#6c757d !default;
$gray-700:					#495057 !default;
$gray-800:					#343a40 !default;
$gray-900:					#212529 !default;
$black:						#000 !default;


$input-btn-padding-y:		0.5rem !default;
$input-btn-padding-x:		0.75rem !default;


$sidebar:					320px;



$grid-breakpoints: (
	xs: 0,
	sm: 576px + $sidebar,
	md: 768px + $sidebar,
	lg: 992px + $sidebar,
	xl: 1200px + $sidebar
) ;

// 2c3052



// h1, h2, h3, h4, h5, h6 {
// 	color: $default;
// }