@import "variables";
@import "~bootstrap/scss/bootstrap";

/* icon font path, required */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";

// // Vendor Element UI plugins
// @import "element-ui/plugin-tags";
// @import "element-ui/plugin-slider";
// @import "element-ui/plugin-select";
// @import "element-ui/plugin-inputs";
// @import "element-ui/plugin-tables";
// @import "element-ui/plugin-datepicker"; 


.containter-fluid{
	padding-left: 15px; //todo gutter variable maybe;
	padding-right: 15px; //todo gutter variable maybe;
}