<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Classify</title>
    <meta name="theme-color" content="#343859">
    <meta name="msapplication-navbutton-color" content="#343859">
    <meta name="apple-mobile-web-app-status-bar-style" content="#343859">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Classify doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
